<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiming.qimingdata.dao.MemberUserMapper">
  <resultMap id="BaseResultMap" type="com.qiming.qimingdata.model.MemberUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="login_phone" jdbcType="VARCHAR" property="login_phone" />
    <result column="login_email" jdbcType="VARCHAR" property="login_email" />
    <result column="login_password" jdbcType="VARCHAR" property="login_password" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmt_create" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmt_modified" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="credentialssalt" jdbcType="VARCHAR" property="credentialssalt" />
  </resultMap>

  <sql id="Base_Column_List">
    id, login_phone, login_email, login_password, gmt_create, gmt_modified, status, credentialssalt
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from member_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
    <select id="selectByName" parameterType="com.qiming.qimingdata.model.MemberUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member_user
        where login_phone=#{login_phone,jdbcType=VARCHAR}
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from member_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qiming.qimingdata.model.MemberUser">
    insert into member_user (id, login_phone, login_email,
      login_password, gmt_create, gmt_modified,
      status, credentialssalt)
    values (#{id,jdbcType=VARCHAR}, #{login_phone,jdbcType=VARCHAR}, #{login_email,jdbcType=VARCHAR},
      #{login_password,jdbcType=VARCHAR}, #{gmt_create,jdbcType=TIMESTAMP}, #{gmt_modified,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER}, #{credentialssalt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qiming.qimingdata.model.MemberUser">
    insert into member_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="login_phone != null">
        login_phone,
      </if>
      <if test="login_email != null">
        login_email,
      </if>
      <if test="login_password != null">
        login_password,
      </if>
      <if test="gmt_create != null">
        gmt_create,
      </if>
      <if test="gmt_modified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="credentialssalt != null">
        credentialssalt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="login_phone != null">
        #{login_phone,jdbcType=VARCHAR},
      </if>
      <if test="login_email != null">
        #{login_email,jdbcType=VARCHAR},
      </if>
      <if test="login_password != null">
        #{login_password,jdbcType=VARCHAR},
      </if>
      <if test="gmt_create != null">
        #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_modified != null">
        #{gmt_modified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="credentialssalt != null">
        #{credentialssalt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>